@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
/* Shared Styles */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn-primary {
  border-radius: 8px;
  background-color: #ff900e;
  padding: 20px 25px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/* Header Style Area Start Here */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0px;
}
nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.nav-title {
  color: #131313;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav ul li {
  list-style: none;
  margin-left: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
/* Header Style Area End Here */
/* Banner Style Area Start Here */
.banner {
  background: rgba(255, 144, 14, 0.1);
  padding: 0px 0px 50px 0px;
}
.banner-content {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 862px;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-title span {
  display: block;
}
.banner-desc {
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 32px 0px;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}
/* Banner Style Area End Here */
/* Teams Style Area Start Here */
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 85px 0px 130px 0px;
  margin-left: 60px;
}
.team-content {
  margin: 0px 0px 0px 70px;
}
.team-title {
  font-size: 2.7rem;
}
.team-title .one {
  color: #727272;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.team-title .two {
  color: #131313;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}
.team-title .three {
  display: block;
  color: #ff900e;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.team-desc {
  margin: 24px 0px 32px 0px;
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* Teams Style Area End Here */
/* Facts Style Area Start Here */
.facts {
  padding-bottom: 180px;
}
.section-title h4 {
  color: #131313;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-title p {
  color: #727272;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 542px;
  margin: 24px 0px 100px 0px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-botto: 180px;
}
.card {
  padding: 45px 35px 60px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
}
.card-stats {
  color: #424242;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.card-title {
  color: #727272;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* Facts Style Area End Here */
/* Sponsors Area Start Here */
.sponsors-section-title {
  text-align: center;
}
.sponsors-section-title h2 {
  color: #131313;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sponsors-section-title p {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 24px 0px 50px 0px;
}
.sponsors-image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  margin-bottom: 130px;
}
/* Sponsors Area End Here */
